<section>
  <div class="overflow-hidden">
    <div class="flex flex-col justify-center flex-1 px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="w-full max-w-xl mx-auto lg:w-96">
        <div>
          <h2 class="mt-6 text-3xl font-extrabold text-neutral-600"> Operation Materiel Versement</h2>
        </div>
        <div class="mt-8">
          <div class="mt-6">
            <form class="space-y-6" [formGroup]="form">
              <div>
                <label for="dateRetour" class="block text-sm font-medium text-neutral-600"> dateRetour </label>
                <div class="mt-1">
                  <input id="dateRetour" formControlName="dateRetour" name="dateRetour" type="date" autocomplete="qte" placeholder="dateRetour" class="inputClass">
                </div>
              </div>
              <div>
                <label class="block">
                  <span class="text-gray-700">Select Materiel</span>
                  <select formControlName="produitId" class="form-select block w-full mt-1 inputClass" name="magazin">
                    <option *ngFor="let produit of produitList" [value]="produit.code">{{produit.matricule}}</option>
                  </select>
                </label>
              </div>
              <div>
                <label class="block">
                  <span class="text-gray-700">Select User</span>
                  <select formControlName="userId" class="form-select block w-full mt-1 inputClass">
                    <option *ngFor="let user of userList" [value]="user.userId">{{user.fullName}}</option>
                  </select>
                </label>
              </div>
              <div>
                <button type="submit" class="submitButton" (click)="createOperation()">Creation</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
