<div class="grid grid-cols-3 p-4 rounded-lg" [ngClass]="!(index % 2) ? 'bg-gray-100': 'bg-white'"
     xmlns="http://www.w3.org/1999/html" *ngIf="!isMe()">
  <p class="text-gray-700">{{user.fullName}}</p>
  <p class="text-gray-700">{{user.cin}}</p>

  <div class="flex space-x-4 text-gray-600">
    <button class="linkWithIcon flex" *ngIf="user.role=='RESP_ART'||user.role=='RESP_MAT'||user.role=='ADMIN'" (click)="changeToUser(user.userId!)">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
      </svg>
      <span>
      to USER
    </span>
    </button>
    <button class="linkWithIcon flex" *ngIf="user.role=='USER'||user.role=='RESP_MAT'||user.role=='ADMIN'" (click)="changeToRESPART(user.userId!)">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
      </svg>
      <span>
        to RESP ARTCILE
      </span>
    </button>
    <button class="linkWithIcon flex" *ngIf="user.role=='RESP_ART'||user.role=='USER'||user.role=='ADMIN'" (click)="changeToRESPMAT(user.userId!)">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
      </svg>
      <span>
      to RESP Materiel
    </span>
    </button>
    <button class="linkWithIcon flex" *ngIf="user.role=='RESP_ART'||user.role=='RESP_MAT'||user.role=='USER'" (click)="changeToADMIN(user.userId!)">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
      </svg>
      <span>
      to Admin
      </span>
    </button>
    <svg (click)="deleteUser(user.userId!)" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 hover:bg-red-100 text-red-600 rounded-full p-1 transition"
         fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
    </svg>
  </div>
</div>
