<div class="flex flex-col w-auto rounded-lg p-6">
  <div class="flex w-full justify-between items-center p-4 mb-4">
    <h1 class="text-4xl font-bold text-blue-600">Materiaux</h1>
    <button class="bg-blue-50 text-blue-600 font-semibold px-6 py-2 rounded-lg hover:bg-blue-200 transition" [routerLink]="['/materielsDashboard/materielForm']">Ajouter Materiel</button>
  </div>

  <div class="dashboard-table p-6" >
    <div class="titles flex w-full justify-between items-center pb-2 border-b-2 border-gray-200">
      <p class="font-semibold text-gray-700">Matricule</p>
      <p class="font-semibold text-gray-700">Intitule</p>
      <p class="font-semibold text-gray-700">date retour</p>
      <p class="font-semibold text-gray-700">Nom Magazin</p>
      <p class="font-semibold text-gray-700">Nom Cotegory</p>
      <p class="font-semibold text-gray-700">Actions</p>
    </div>
    <div class="mt-6  overflow-scroll h-96">
      <app-materiel *ngFor="let materiel of materielsList; let i=index" [index]="i" [materiel]="materiel"></app-materiel>
    </div>
  </div>
</div>
